[Unit]
Description=RPiClient-rs IoT Management System Client
After=multi-user.target network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/home/pi/RPiClient-rs
ExecStart=/home/pi/RPiClient-rs/RPiClient-rs
StandardOutput=file:/home/pi/RPiClient-rs/logs/stdout.log
StandardError=file:/home/pi/RPiClient-rs/logs/stderr.log
User=root
Group=root
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target